.modeList{
  .main{
    display: flex;
    height: calc(100vh - 80px);
    .left{
      flex: 0 0 140px;
      color: #ffffff;
      padding: 12px 0 12px 20px;
      .child{
        height: 40px;
        line-height: 40px;
        margin-bottom: 12px;
        &:hover, &.active{
          background: #ffffff;
          color: #4ab6e0;
          box-shadow: 0 0 1px 1px #4ab6e0;
          border-radius: 4px;
          //box-shadow: 0 0 1px 1px #000000;
        }
      }
    }
    .right{
      flex: 1;
    }
  }
}